USER_TOKEN=vk1.a.wAPsik_AiG23Z-44RbPofpBPnFV3i4FO-9te_nCALufLG8HElyFkLK-bzuv6Rs208iabCOWNIW1faRNw2UlQxn8Fgj5U-qyYvD1CQql23N9JvNYJOSa1H0a2I9_uwOR6V1MZ264Tf_-90kYGgQFIpde4eSLYy7DvomOmxV616St9NMFFs7-IdfIe9LQwrVJL3JpzkdpoX8XcJ7p6t6jymA
COMMUNITY_TOKEN=vk1.a.ya4x_uY3dXpK9TCfCYqqY_etaiAexWfUjm-c0oalTm53QmnDFOtIcwW3UH95lnWpQr69dARcs8xebtpVg_Y52WVTXuD68ubOluWSeVQRNOHvYT6_tzErB6EcXyvPiP5KhTZobSrQsXqoah9CPi-gpmBL_9minOUC4-LOCFyFoBut1hPli7A6Z8uVtnVYQaPF38O16Lm5VLxPPJLlyWHPOg
GROUP_ID=239423776
ADMIN_IDS=731714828
